<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="readonly-interoperability.ZPM">
    <Module>
      <Name>readonly-interoperability</Name>
      <Description>A simple IRIS Role for a Read Only access to interoperability application.</Description>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ReadOnly.PKG" />
    </Module> 
  </Document>
</Export>
